@import "./config";
@import "./var";

::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   font-size: 0.8rem;
}

.__main-container {
   height: 100%;
   width: 100%;
   background-image: linear-gradient(to right, #39c0ed, #1266f1);

   .__container {
      position: absolute;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 60%;
      //   border: 1px solid black;
      border-radius: 15px;
      display: flex;

      .__image-container {
         border-top-left-radius: $border15;
         border-bottom-left-radius: $border15;
         background-color: #39c0ed;
         flex: 3;
         position: relative;
         img {
            margin: 0 auto;
            display: block;
            width: 80%;
            height: 100%;
         }
         p {
            font-size: 0.8rem;
            color: #fff;
            text-align: justify;
            padding: 1rem;
            position: absolute;
            top: 75%;
         }
      }

      .__login-container {
         border-top-right-radius: $border15;
         border-bottom-right-radius: $border15;
         background-color: #fff;
         flex: 2;
         h1 {
            // border-radius: $border10;
            padding: 0.4rem;
            color: #fff;
         }

         .__input-container {
            input {
               display: block;
               width: 100%;
               border: none;
               border-bottom: 1px solid gray;

               &:focus {
                  outline: 0;
                  border-bottom: 1px solid #1266f1;
               }
            }
         }
      }
   }
}
